aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
configure.scan~
depcomp
.deps
install-sh
*.la
.libs
libtool
udp_splice.pc
*.lo
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
*.o
stamp-h1
.tmp_versions
.*.cmd
Module.symvers
modules.order
*.ko
*.mod.c
